
<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Window name-->
    <title>Car Registration App</title>
    <link href="http://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/signIn.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home    </a></li>
            <li role="presentation"><a href="/showSignUp">Sign Up   </a></li>
            <li role="presentation"><a href="/showCheckDB">Check Reg     </a></li>
            <li role="presentation" class="active"><a href="/showSignIn">Sign In</a></li>
          </ul>
        </nav>
        <h4 class="text-muted">Sign In Page</h4>
      </div>

      <div class="jumbotron">
        <h4>Sign in here</h4>
        <h4>Enter your email and password</h4>
        <form class="form-signin">


        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>

        <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="button">Sign In</button>

      </form>
      </div>
      <footer class="footer">
        <p>&copy;GMIT 2019</p>
      </footer>
    </div>
  </body>
</html>


